//Colors
$clr1:#1c1e21;
$clr2:#571845;
$clr3:#900c3e;
$clr4:#c70039;
$clr5:#ff5733;
$clr6:#ffc300;
//Breakpoints
$mobile-breakpoint:560px;
$narrow-breakpoint:660px;
$normal-breakpoint:960px;
//Layout?