// Font Sizes
.fs12 {
    font-size: rem(12px);
}

.fs14 {
    font-size: rem(14px);
}

.fs16 {
    font-size: rem(16px);
}

.fs18 {
    font-size: rem(18px);
}

.fs20 {
    font-size: rem(20px);
}

.fs24 {
    font-size: rem(24px);
}

.fs28 {
    font-size: rem(28px);
}

.fs30 {
    font-size: rem(30px);
}

// media-helpers
.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.poster-ratio {
    @include aspect-ratio(1, 1.5);
}

//LATOUT HELPERS
.container {
    max-width: 1000px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between!important;
}

.col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.flex-start {
    align-items: flex-start;
}

.flex-end {
    align-items: flex-end;
}

.justify-end {
    justify-content: flex-end;
}

.text-center {
    text-align: center;
}

.width-all {
    width: 100%;
}

.height-all {
    height: 100%;
}

.width-content {
    width: fit-content;
}

.column-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-layout>*:not(:last-child) {
    margin-bottom: 7.5px;
}

.clean-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.btn {
    cursor: pointer;
    margin: 0.4rem;
    padding: 10px;
    background-color: $clr2;
    border: none;
    outline: none;
    color: $clr7;
    border-radius: 1.5rem;
    transition: .3s;
    &:hover {
        background-color: $clr3;
    }
}