//Colors
$clr1:#1c1e21;
$clr2:#571845;
$clr3:#900c3e;
$clr4:#c70039;
$clr5:#ff5733;
$clr6:#ffc300;
$clr7:rgb(207, 207, 207);
//Breakpoints
// $mobile-breakpoint:560px;
$mobile-breakpoint:800px;
$narrow-breakpoint:1000px;
$normal-breakpoint:1300px;
//Layout?
//fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Raleway:wght@300&display=swap');
$font1:'Oswald',
sans-serif;
$font2: 'Raleway',
sans-serif;