* {
    box-sizing: border-box;
}

body {
    font-family: "monst";
    // font-family: "rale";
    background-color: $clr1;
    color: $clr7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

hr {
    color: $clr4;
    margin-bottom: 48px;
    width: 80%;
}