.curr-song {
    margin: 0 50px;
    .top-section {
        width: 700px;
        margin: 0 auto;
    }
    padding-top: 30px;
    background-color: $clr1;
    .iframe-container {
        margin: 10px;
        // position: relative;
        // width: 100%;
        // padding-bottom: 56.25%;
        // height: 0;
        position: relative;
        top: 10px;
        width: 250px;
        height: 200px;
        margin: 0;
    }
    .iframe-container iframe {
        // position: absolute;
        // top: 0;
        // left: 0;
        // width: 100%;
        // height: 100%;
        width: 300px;
        height: 180px;
        border-radius: 10px;
    }
    .song-controllers {
        background-color: darken($clr1, $amount: 3%);
        height: 35px;
        margin: 13px auto;
        width: 650px;
        border-radius: 5px;
        padding: 5px;
        // box-shadow: 0 0 10px #ffffff, 0 0 30px #ffc300;
        .control-icon {
            // box-shadow: 0 0 10px #ffffff,0 0 30px #ffc300;
            margin: 5px;
            &:hover {
                cursor: pointer;
                transform: scale( 1.1);
            }
        }
        span {
            font-size: rem(13px);
        }
        input[type=range] {
            height: 3px;
            background: $clr6;
            &#progressBar {
                width: 200px
            }
        }
    }
    h1 {
        text-align: left;
        font-weight: 700;
        font-size: rem(35px);
        font-family: fantasy;
        margin-top: 10px;
    }
    span {
        margin: 3px 0;
    }
    .genre {
        color: $clr1;
        background-color: #c1c1c1e3;
        border-radius: 5px;
        // padding: 3px;
        max-width: 90px;
        text-align: center;
    }
    .icon {
        margin: 0 5px 0 0;
    }
    .heart-icon {
        background-color: transparent;
        color: $clr7;
        border: none;
        padding: 0;
        &:hover {
            cursor: pointer;
            color: $clr4;
        }
        // &:hover {
        //     color: $clr4;
        //     cursor: pointer;
        // }
    }
    .liked {
        color: $clr4;
    }
}