.curr-song {
    // height: 30%;
    padding-top: 30px;
    background-color: $clr1;
    .iframe-container {
        margin: 10px;
        // position: relative;
        // width: 100%;
        // padding-bottom: 56.25%;
        // height: 0;
        position: relative;
        top: 10px;
        width: 250px;
        height: 200px;
        margin: 0;
    }
    .iframe-container iframe {
        // position: absolute;
        // top: 0;
        // left: 0;
        // width: 100%;
        // height: 100%;
        width: 300px;
        height: 180px;
        border-radius: 10px;
    }
    .song-controllers {
        background-color: darken($clr1, $amount: 10%);
        height: 50px;
        margin: 10px 0;
        // box-shadow: 0 0 10px #ffffff, 0 0 30px #ffc300;
        .control-icon {
            // box-shadow: 0 0 10px #ffffff,0 0 30px #ffc300;
            margin: 5px;
        }
        &:hover {
            cursor: pointer;
        }
    }
    h1 {
        text-align: left;
        font-weight: 700;
        font-size: rem(35px);
        font-family: fantasy;
    }
    span {
        margin: 5px 0;
    }
    .icon {
        margin: 0 5px 0 0;
    }
    .heart-icon {
        background-color: transparent;
        color: $clr7;
        border: none;
        padding: 0;
        &:hover {
            cursor: pointer;
            color: $clr4;
        }
        .liked {
            color: $clr4;
        }
        // &:hover {
        //     color: $clr4;
        //     cursor: pointer;
        // }
    }
}