.header {
    .main-header {
        .logo-img {
            cursor: pointer;
            width: 75px;
            height: 70px;
        }
    }
    .router-link-exact-active {
        color: white;
        transition: .3s;
        background-color: #ff57338c;
        // box-shadow: inset 0px -5px 0px 0px #ffc4001a;
    }
    background-color: $clr4;
    .main-header {
        padding: .7rem 0 .2rem 0;
        .logo-link {
            text-decoration: none;
        }
        .nav-btn {
            font-size: rem(14px);
            color: $clr7;
            text-shadow: 0 0 10px #fff, 0 0 30px $clr6, ;
            padding: 2.4rem 1rem 1.9rem 1rem;
            &:hover {
                color: white;
                transition: .3s;
                background-color: $clr5;
                box-shadow: inset 0px -5px 0px 0px #ffc30063;
            }
        }
    }
}