.heart-icon {
    color: $clr7;
}

.liked {
    color: $clr4;
}

.popular-station-list {
    margin-bottom: 144px;
    margin-top: 32px;
    .station-preview {
        // margin-right: 16px;
        filter: opacity(80%);
        transition: .3s;
        .station-cover {
            position: relative;
            img {
                position: relative;
                margin: 0 auto;
                height: 280px;
                width: 375px;
                object-fit: cover;
                z-index: 0;
                transition: .5s;
                border-radius: 1rem;
            }
        }
        .preview-details {
            margin-top: 8px;
            width: 100%;
            .play-icon {
                font-size: 3rem;
                transition: .5s;
                &:hover {
                    color: white;
                }
            }
            span,
            .clock-icon {
                color: grey;
            }
            .like-section {
                .heart-icon {
                    font-size: 1.8rem;
                    &:hover {
                        transition: .5s;
                        color: $clr4;
                    }
                }
                span {
                    margin-left: 15px;
                }
            }
        }
        &:hover {
            cursor: pointer;
            filter: opacity(100%);
        }
    }
}