.heart-icon {
    color: $clr7;
}

.liked {
    color: $clr4;
}

.popular-station-list {
    margin-bottom: 9rem;
    margin-top: 2rem;
    .station-preview {
        margin-right: 1rem;
        filter: opacity(80%);
        transition: .3s;
        .station-cover {
            position: relative;
            img {
                position: relative;
                margin: 0 auto;
                height: 300px;
                width: 322px;
                object-fit: cover;
                z-index: 0;
                transition: .5s;
                border-radius: 1rem;
            }
        }
        .preview-details {
            margin-top: .5rem;
            width: 100%;
            .play-icon {
                font-size: 3rem;
            }
            span,
            .clock-icon {
                color: grey;
            }
            .like-section {
                .heart-icon {
                    font-size: 1.8rem;
                    &:hover {
                        transition: .3s;
                        color: $clr4;
                    }
                }
                span {
                    margin-left: .7rem;
                }
            }
        }
        &:hover {
            cursor: pointer;
            filter: opacity(100%);
        }
    }
}