.chat-app {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    h1 {
        margin-bottom: 50px;
    }
    // border-bottom: 2px solid rgb(70, 70, 70);
    // border: 1px solid rgb(70, 70, 70);
    border-right: 2px solid $clr1;
    box-shadow: 1.5px 7px 6px -1px rgba(0, 0, 0, 0.64),
    inset -0.5px -1px #3f3e41;
    .chat-container {
        flex: 1;
        max-width: 100%;
        margin: 0 16px;
        .message {
            width: max-content;
            border-radius: 20px;
            padding: 8px 15px;
            margin-top: 5px;
            margin-bottom: 8px;
            border-bottom-left-radius: 0;
            background-color: $clr4;
            font-weight: 800;
        }
        .message-strange {
            font-weight: 800;
            align-self: flex-end;
            width: max-content;
            background-color: gray;
            border-radius: 20px;
            padding: 8px 15px;
            margin-top: 5px;
            margin-bottom: 8px;
            border-bottom-right-radius: 0;
        }
        .user-chat-img {
            object-fit: cover;
            margin: 7px;
            border-radius: 50%;
            width: 30px;
            height: 30px;
        }
        .msg-time {
            margin: 4px;
            font-weight: 400;
            font-size: .8rem;
        }
    }
    ul {
        // overflow-y: scroll;
        height: 60vh;
    }
    .chat-form {
        margin: 30px 15px;
        input {
            flex: 1;
            border: none;
            outline: none;
            padding: 15px;
            border-radius: 10px;
        }
        .chat-btn {
            // border-radius: 0;
            background-color: #c70039;
            padding: 7px;
            &:hover {
                background-color: $clr3;
            }
        }
    }
    .is-typing {
        margin-top: 90px;
        width: 85px;
        justify-content: space-around;
        display: flex;
    }
    .jump1,
    .jump2,
    .jump3,
    .jump4,
    .jump5 {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: gray;
    }
    .jump1 {
        animation: typing 1.5s linear infinite;
        animation-delay: 01.1s;
    }
    .jump2 {
        animation: typing 1.5s linear infinite;
        animation-delay: 01.2s;
    }
    .jump3 {
        animation: typing 1.5s linear infinite;
        animation-delay: 01.3s;
    }
    .jump4 {
        animation: typing 1.5s linear infinite;
        animation-delay: 01.4s;
    }
    .jump5 {
        animation: typing 1.5s linear infinite;
        animation-delay: 1.5s;
    }
    @keyframes typing {
        0% {
            transform: translateY(0px);
        }
        25% {
            transform: translateY(0px);
        }
        35% {
            transform: translateY(15px);
        }
        45% {
            transform: translateY(0px);
        }
        60% {
            transform: translateY(-15px);
        }
        75% {
            background-color: white;
            transform: translateY(0px);
        }
        100% {
            transform: translateY(0px);
        }
    }
    .scroll-area {
        position: relative;
        margin: auto;
        height: 60vh;
    }
    .ps {
        overflow: hidden !important;
        overflow-anchor: none;
        -ms-overflow-style: none;
        touch-action: auto;
        -ms-touch-action: auto;
    }
    .ps__rail-y {
        display: block;
        opacity: 50%;
        transition: background-color .2s linear, opacity .2s linear;
        -webkit-transition: background-color .2s linear, opacity .2s linear;
        width: 5px;
        /* there must be 'right' or 'left' for ps__rail-y */
        right: 0;
        /* please don't change 'position' */
        position: absolute;
    }
    .ps--active-x>.ps__rail-x,
    .ps--active-y>.ps__rail-y {
        display: block;
        background-color: transparent;
    }
    .ps:hover>.ps__rail-x,
    .ps:hover>.ps__rail-y,
    .ps--focus>.ps__rail-x,
    .ps--focus>.ps__rail-y,
    .ps--scrolling-x>.ps__rail-x,
    .ps--scrolling-y>.ps__rail-y {
        opacity: 0.6;
    }
    .ps .ps__rail-x:hover,
    .ps .ps__rail-y:hover,
    .ps .ps__rail-x:focus,
    .ps .ps__rail-y:focus,
    .ps .ps__rail-x.ps--clicking,
    .ps .ps__rail-y.ps--clicking {
        background-color: lighten($clr1, 40%);
        opacity: 0.9;
    }
    .ps__thumb-y {
        background-color: $clr7;
        border-radius: 6px;
        transition: background-color .2s linear, width .2s ease-in-out;
        -webkit-transition: background-color .2s linear, width .2s ease-in-out;
        width: 5px;
        height: 10px;
        /* there must be 'right' for ps__thumb-y */
        right: 0px;
        /* please don't change 'position' */
        position: absolute;
    }
    .ps__rail-x:hover>.ps__thumb-x,
    .ps__rail-x:focus>.ps__thumb-x,
    .ps__rail-x.ps--clicking .ps__thumb-x {
        background-color: $clr7;
        height: 5px;
    }
    .ps__rail-y:hover>.ps__thumb-y,
    .ps__rail-y:focus>.ps__thumb-y,
    .ps__rail-y.ps--clicking .ps__thumb-y {
        background-color: $clr7;
        width: 5px;
    }
}

@media screen and (max-width: $narrow-breakpoint) {
    .chat-app {
        h1 {
            font-size: rem(18px);
            margin-bottom: 25px;
        }
        .chat-container {
            .message {
                padding: 5px 10px;
                font-size: rem(14px);
            }
            .message-strange {
                padding: 5px 10px;
                font-size: rem(14px);
            }
            .user-chat-img {
                width: 20px;
                height: 20px;
            }
            .msg-time {
                font-size: .55rem;
            }
        }
        .chat-form {
            input {
                width: 90%;
                padding: 5px;
            }
            .chat-btn {
                padding: 5px;
                font-size: rem(14px);
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .chat-app {
        // position: absolute;
        // top: 0;
        // left: 0;
        // width: 100%;
        // opacity: 0;
        // z-index: -1;
        // transform: translateY(-100px);
        // transition: transform 0.5s;
        // .menuopen {
        //     transform: translateY(86px);
        //     visibility: visible;
        //     opacity: 1;
        //     z-index: 6;
        // }
        width: 100%;
        border-top: 2px solid $clr1;
        box-shadow: -1.5px 7px 6px 6px rgba(0, 0, 0, 0.64), inset 0px 3px 7px #3f3e41;
    }
}