.station-list {
    max-width: fit-content;
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 250px);
        gap: 16px;
    }
    .station {
        margin: 16px;
    }
}

@media screen and (max-width: $narrow-breakpoint) {
    .grid {
        grid-template-columns: repeat(3, 250px);
    }
    .preview {
        li:last-of-type {
            display: none;
        }
    }
}