.curr-song {
    position: fixed;
    bottom: 0;
    z-index: 5;
    background-color: darken($clr1, $amount: 10%);
    height: 70px;
    width: 100%;
    .song-details {
        width: 30%;
    }
    .controllers {
        width: 60%;
    }
    .song-controllers {
        width: 90%;
        img {
            width: 60px;
            border-radius: 5px;
            &:hover {
                cursor: pointer;
            }
        }
        .gif {
            margin: 0 5px;
            width: 60px;
            filter: grayscale(100%);
        }
        .control-icon {
            font-size: rem(28px);
            margin: 5px;
            &:hover {
                cursor: pointer;
                transform: scale( 1.1);
            }
        }
        .volume {
            font-size: rem(22px);
        }
        span {
            font-size: rem(13px);
        }
        input[type=range] {
            outline: none;
            height: 3px;
            margin: 0 5px;
            background: $clr6;
            -webkit-appearance: none;
            -moz-apperance: none;
            background: rgb(255, 97, 0);
            background: linear-gradient(119deg, rgba(255, 97, 0, 1) 0%, rgba(213, 1, 1, 1) 48%, rgba(162, 24, 24, 1) 100%);
            border-radius: 2px;
            &#progressBar {
                width: 250px
            }
            &:hover {
                cursor: pointer;
            }
        }
        input[type=range]::-webkit-slider-thumb {
            outline: none;
            background: rgb(255, 255, 255);
            border-radius: 1px;
            width: 7px;
            height: 5px;
            -webkit-appearance: none;
        }
        .currPlaying {
            h5 {
                font-size: rem(17px);
            }
            p {
                font-size: rem(16px);
            }
        }
    }
    iframe {
        display: none;
        width: 50px;
        height: 70px;
        border-radius: 10px;
    }
}

@media screen and (max-width: $narrow-breakpoint) {
    .curr-song {
        .song-controllers {
            width: 95%;
            .img {
                width: 30px;
            }
            .gif {
                margin: 0 10px;
                width: 40px;
            }
            .control-icon {
                font-size: rem(23px);
                margin: 5px;
                &:hover {
                    cursor: pointer;
                    transform: scale( 1.1);
                }
            }
            .volume {
                font-size: rem(16px);
            }
            span {
                font-size: rem(12px);
            }
            input[type=range] {
                width: 100px;
                &#progressBar {
                    width: 200px
                }
                &:hover {
                    cursor: pointer;
                }
            }
            .currPlaying {
                h5 {
                    font-size: rem(14px);
                }
                p {
                    font-size: rem(10px);
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .curr-song {
        height: 120px;
        .song-controllers {
            flex-direction: column-reverse;
            .controllers {
                flex-direction: column-reverse;
            }
            img {
                display: none;
            }
            .control-icon {
                font-size: rem(23px);
                margin: 5px;
            }
            .volume-icon {
                font-size: rem(15px);
            }
            span {
                font-size: rem(12px);
            }
            input[type=range] {
                width: 100px;
                &#progressBar {
                    width: 200px
                }
            }
            .currPlaying {
                h5 {
                    display: inline;
                    margin-right: 5px;
                }
                p {
                    display: inline;
                    font-size: rem(13px);
                }
            }
        }
    }
}