.heart-icon {
    color: $clr7;
}

.liked {
    color: $clr4;
}

.popular-station-list {
    margin-bottom: 144px;
    margin-top: 32px;
    .station-preview {
        // margin-right: 16px;
        filter: opacity(80%);
        transition: .3s;
        .station-cover {
            position: relative;
            img {
                position: relative;
                margin: 0 auto;
                height: 550px;
                width: 1210px;
                object-fit: cover;
                z-index: 0;
                transition: .5s;
                border-radius: 1rem;
            }
        }
        .preview-details {
            margin-top: 8px;
            width: 100%;
            h2 {
                font-size: 1.3rem;
                color: white;
                margin-bottom: 5px;
            }
            .play-icon {
                margin-right: 15px;
                font-size: 2.5rem;
                transition: .5s;
                &:hover {
                    color: white;
                }
            }
            span {
                color: grey;
            }
            .clock-icon {
                color: grey;
                margin-left: 10px;
            }
            .like-section {
                display: flex;
                align-self: flex-start;
                margin-right: 10px;
                margin-top: 2px;
                .heart-icon {
                    font-size: 1.5rem;
                    &:hover {
                        transition: .5s;
                        color: $clr4;
                    }
                }
                span {
                    font-size: 1rem;
                    margin-right: 8px;
                }
            }
        }
        &:hover {
            cursor: pointer;
            filter: opacity(100%);
        }
    }
}

div .el-carousel__container {
    height: 640px;
}