.heart-icon {
    color: $clr7;
}

.liked {
    color: $clr4;
}

.popular-station-list {
    margin-bottom: 30px;
    margin-top: 30px;
    .station-preview {
        height: 350px;
        width: 350px;
        margin-right: 16px;
        // filter: opacity(80%);
        // transition: .3s;
        .station-cover {
            position: relative;
            width: 100%;
            img {
                position: relative;
                margin: 0 auto;
                height: 280px;
                width: 100%;
                object-fit: cover;
                z-index: 0;
                transition: .5s;
                border-radius: 10px;
            }
        }
        .preview-details {
            margin-top: 8px;
            width: 100%;
            h2 {
                font-size: 1.3rem;
                color: white;
                margin-bottom: 5px;
            }
            .play-icon {
                margin-right: 15px;
                font-size: 48px;
                transition: .5s;
                &:hover {
                    color: white;
                }
            }
            span {
                color: grey;
            }
            .clock-icon {
                color: grey;
            }
            .like-section {
                display: flex;
                align-self: flex-start;
                margin-right: 10px;
                margin-top: 2px;
                .heart-icon {
                    font-size: 24px;
                    &:hover {
                        transition: .5s;
                        color: $clr4;
                    }
                }
                span {
                    font-size: 1rem;
                    margin-right: 8px;
                }
            }
        }
        &:hover {
            cursor: pointer;
            filter: opacity(100%);
        }
    }
}

@media screen and (max-width: $narrow-breakpoint) {
    .popular-station-list {
        margin-bottom: 15px;
        margin-top: 20px;
        .station-preview {
            height: 230px;
            width: 230px;
            margin-right: 15px;
            .station-cover {
                img {
                    height: 180px;
                    width: 100%;
                }
            }
            .preview-details {
                h2 {
                    font-size: 1rem;
                }
                span {
                    font-size: 0.9rem;
                }
                .play-icon {
                    margin-right: 10px;
                    font-size: 38px;
                }
                .like-section {
                    .heart-icon {
                        font-size: 18px;
                    }
                    span {
                        font-size: 0.8rem;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .popular-station-list {
        margin-bottom: 15px;
        margin-top: 20px;
        ul {
            flex-direction: column;
        }
        .station-preview {
            flex-direction: row;
            margin: 0 auto;
            height: 200px;
            width: 90%;
            .station-cover {
                img {
                    height: 180px;
                    width: 100%;
                }
            }
            .preview-details {
                height: 100%;
                width: 70%;
                margin: 30px 0 0 15px;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start !important;
                .top-details {
                    flex-direction: row-reverse;
                }
                h2 {
                    font-size: 1.5rem;
                }
                span {
                    font-size: 1.3rem;
                }
                .play-icon {
                    display: none;
                    margin-left: 10px;
                    font-size: 40px;
                }
                .clock-icon {
                    margin-right: 5px;
                }
                .like-section {
                    flex-direction: row-reverse;
                    .heart-icon {
                        font-size: 18px;
                    }
                    span {
                        font-size: 1rem;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}