.song-list-edit {
    .songlist-filler {
        margin: 10px 0 0 0;
        background-color: rgba(255, 255, 255, 0.123);
        height: 250px;
        width: 100%;
        // p {
        //     text-align: center;
        // }
    }
    input {
        width: 300px;
    }
    .songlist-container {
        width: 100%;
    }
    div {
        width: 100%;
        input {
            flex-grow: 1;
            margin-right: 10px;
        }
    }
    .scroll-area {
        position: relative;
        margin: auto;
        height: 400px;
    }
    .ps {
        overflow: hidden !important;
        overflow-anchor: none;
        -ms-overflow-style: none;
        touch-action: auto;
        -ms-touch-action: auto;
    }
    .ps__rail-y {
        display: block;
        opacity: 50%;
        transition: background-color .2s linear, opacity .2s linear;
        -webkit-transition: background-color .2s linear, opacity .2s linear;
        width: 5px;
        /* there must be 'right' or 'left' for ps__rail-y */
        right: 0;
        /* please don't change 'position' */
        position: absolute;
    }
    .ps--active-x>.ps__rail-x,
    .ps--active-y>.ps__rail-y {
        display: block;
        background-color: transparent;
    }
    .ps:hover>.ps__rail-x,
    .ps:hover>.ps__rail-y,
    .ps--focus>.ps__rail-x,
    .ps--focus>.ps__rail-y,
    .ps--scrolling-x>.ps__rail-x,
    .ps--scrolling-y>.ps__rail-y {
        opacity: 0.6;
    }
    .ps .ps__rail-x:hover,
    .ps .ps__rail-y:hover,
    .ps .ps__rail-x:focus,
    .ps .ps__rail-y:focus,
    .ps .ps__rail-x.ps--clicking,
    .ps .ps__rail-y.ps--clicking {
        background-color: lighten($clr1, 40%);
        opacity: 0.9;
    }
    .ps__thumb-y {
        background-color: $clr7;
        border-radius: 6px;
        transition: background-color .2s linear, width .2s ease-in-out;
        -webkit-transition: background-color .2s linear, width .2s ease-in-out;
        width: 5px;
        height: 10px;
        width: 5px;
        /* there must be 'right' for ps__thumb-y */
        right: 0px;
        /* please don't change 'position' */
        position: absolute;
    }
    .ps__rail-x:hover>.ps__thumb-x,
    .ps__rail-x:focus>.ps__thumb-x,
    .ps__rail-x.ps--clicking .ps__thumb-x {
        background-color: $clr7;
        height: 5px;
    }
    .ps__rail-y:hover>.ps__thumb-y,
    .ps__rail-y:focus>.ps__thumb-y,
    .ps__rail-y.ps--clicking .ps__thumb-y {
        background-color: $clr7;
        width: 5px;
    }
}