    .song-list {
        height: 100%;
        .song-search {
            width: 100%;
            button {
                font-size: rem(14px);
            }
            .toggle-songs {
                vertical-align: middle;
                color: $clr7;
                background-color: $clr4;
                border-radius: 50%;
                box-shadow: none;
                border: none;
                outline: none;
                padding: 0 5px;
                width: 25px;
                height: 25px;
                margin-right: 25px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .play {
            margin: 0 20px 0 0;
            width: 30px;
        }
        .sort {
            margin: 0 20px 0 0;
            &:hover {
                cursor: grab;
            }
            &:active {
                cursor: grabbing;
            }
        }
        .sound-gif {
            height: 40px;
            width: 30px;
            margin-right: 20px;
            filter: grayscale(100%);
        }
        input {
            border: black solid 1px;
            font-size: rem(18px);
            display: block;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.466);
            box-shadow: inset -3px -3px 5px black, inset 3px 3px 5px black;
            color: $clr7;
            outline: none;
            border-radius: 0.2rem;
            margin: 10px 0;
            transition: 0.3s;
            &:hover {
                border: white 0.7px solid;
                transition: 0.5s;
            }
            &::placeholder {
                color: rgb(71, 71, 71);
            }
            &:focus {
                background-color: rgb(44, 44, 44);
                box-shadow: inset -3px -3px 5px rgb(36, 36, 36), inset 3px 3px 5px rgb(36, 36, 36);
                &::placeholder {
                    color: rgb(117, 117, 117);
                }
            }
        }
        .edit-sub-btn {
            background-color: $clr4;
            padding: 10px;
        }
    }
    
    .onDrag {
        .play {
            margin: 0 30px 0 0;
        }
        .sort {
            margin: 0 20px 0 0;
            &:hover {
                cursor: grab;
            }
            &:active {
                cursor: grabbing;
            }
        }
        .sound-gif {
            height: 40px;
            width: 30px;
            margin-right: 20px;
            filter: grayscale(100)
        }
    }
    
    .scroll-area {
        position: relative;
        margin: auto;
        height: 100%;
    }
    
    .ps {
        overflow: hidden !important;
        overflow-anchor: none;
        -ms-overflow-style: none;
        touch-action: auto;
        -ms-touch-action: auto;
    }
    
    .ps__rail-y {
        display: block;
        opacity: 50%;
        transition: background-color .2s linear, opacity .2s linear;
        -webkit-transition: background-color .2s linear, opacity .2s linear;
        width: 5px;
        /* there must be 'right' or 'left' for ps__rail-y */
        right: 0;
        /* please don't change 'position' */
        position: absolute;
    }
    
    .ps--active-x>.ps__rail-x,
    .ps--active-y>.ps__rail-y {
        display: block;
        background-color: transparent;
    }
    
    .ps:hover>.ps__rail-x,
    .ps:hover>.ps__rail-y,
    .ps--focus>.ps__rail-x,
    .ps--focus>.ps__rail-y,
    .ps--scrolling-x>.ps__rail-x,
    .ps--scrolling-y>.ps__rail-y {
        opacity: 0.6;
    }
    
    .ps .ps__rail-x:hover,
    .ps .ps__rail-y:hover,
    .ps .ps__rail-x:focus,
    .ps .ps__rail-y:focus,
    .ps .ps__rail-x.ps--clicking,
    .ps .ps__rail-y.ps--clicking {
        background-color: lighten($clr1, 40%);
        opacity: 0.9;
    }
    
    .ps__thumb-y {
        background-color: $clr7;
        border-radius: 6px;
        transition: background-color .2s linear, width .2s ease-in-out;
        -webkit-transition: background-color .2s linear, width .2s ease-in-out;
        width: 5px;
        height: 10px;
        width: 5px;
        /* there must be 'right' for ps__thumb-y */
        right: 0px;
        /* please don't change 'position' */
        position: absolute;
    }
    
    .ps__rail-x:hover>.ps__thumb-x,
    .ps__rail-x:focus>.ps__thumb-x,
    .ps__rail-x.ps--clicking .ps__thumb-x {
        background-color: $clr7;
        height: 5px;
    }
    
    .ps__rail-y:hover>.ps__thumb-y,
    .ps__rail-y:focus>.ps__thumb-y,
    .ps__rail-y.ps--clicking .ps__thumb-y {
        background-color: $clr7;
        width: 5px;
    }
    /* MS supports */
    
    @supports (-ms-overflow-style: none) {
        .ps {
            overflow: auto !important;
        }
    }
    
    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        .ps {
            overflow: auto !important;
        }
    }
    
    @media screen and (max-width: $narrow-breakpoint) {
        .song-list {
            .song-search {
                width: 100%;
                button {
                    font-size: rem(12px);
                }
            }
            .sound-gif {
                height: 35px;
                width: 25px;
            }
            input {
                font-size: rem(14px);
                padding: 8px;
            }
        }
    }
    
    @media screen and (max-width: $mobile-breakpoint) {
        .song-list {
            width: 90%;
            margin: 0 auto;
            .song-search {
                margin: 0 auto;
                width: 90%;
                button {
                    font-size: rem(10px);
                }
                .toggle-songs {
                    margin: 0;
                }
            }
        }
    }