.song-list-edit {
    .songlist-filler {
        margin: 10px 0 0 0;
        background-color: rgba(255, 255, 255, 0.123);
        height: 250px;
        width: 100%;
        // p {
        //     text-align: center;
        // }
    }
    input {
        width: 300px;
    }
    .songlist-container {
        width: 100%;
    }
    div {
        width: 100%;
        input {
            flex-grow: 1;
            margin-right: 10px;
        }
    }
    .scroll-area {
        position: relative;
        margin: auto;
        height: 400px;
    }
}