.station-app {
    .h2 {
        margin-top: 45rem;
    }
    .nav-color {
        color: $clr4;
    }
    .yellow {
        color: $clr6;
    }
    .hero-img {
        img {
            width: 100%;
            height: 70vh;
            top: 8%;
            z-index: -1;
            object-fit: cover;
            position: absolute;
            animation-name: multiple-image-crossfade;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 20s;
            &:nth-of-type(1) {
                animation-delay: 15s;
            }
            &:nth-of-type(2) {
                animation-delay: 10s;
            }
            &:nth-of-type(3) {
                animation-delay: 5s;
            }
            &:nth-of-type(4) {
                animation-delay: 0s;
            }
        }
        // box-shadow: 0px 7px 27px 1px rgba(82, 82, 82, 1);
    }
    @keyframes multiple-image-crossfade {
        0% {
            opacity: 1;
        }
        17% {
            opacity: 1;
        }
        25% {
            opacity: 0;
        }
        92% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    h1 {
        color: $clr1;
        text-align: center;
    }
    .station-link {
        background-color: $clr4;
        position: absolute;
        padding: 0.4rem;
        padding-top: 1rem;
        border-radius: 0.8rem;
        text-align: center;
        width: 250px;
        height: 50px;
        color: $clr7;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 60px;
        font-size: 1.1rem;
        transition: .3s;
        &:hover {
            background-color: $clr5;
            // color: $clr6;
        }
    }
    // .back {
    //     background-color: $clr4;
    //     height: 20rem;
    //     margin-bottom: 2rem;
    // }
    .station-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        // height: 20rem;
        filter: opacity(75%);
    }
    .create-filter {
        position: absolute;
        top: 10%;
        left: 15%;
        // margin: 2rem 0;
        .router-link {
            margin-left: 2rem;
            color: $clr4;
        }
    }
    .homepage {
        hr {
            background-color: $clr4;
            height: 1px;
            border: none;
        }
    }
    .channel-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        // grid-template-rows: 2;
        gap: 16px;
        .station-cover {
            transition: .5s;
            filter: opacity(75%);
            &:hover {
                filter: opacity(100%);
                p {
                    color: white
                }
            }
            text-decoration: none;
            background-color: #282b2f;
            // width: 270px;
            // height: 130px;
            // padding: 5px;
            margin: 5px;
            border-radius: .5rem;
            span {
                width: 100%;
                padding-left: .2rem;
                color: white;
                font-weight: 800;
                h3 {
                    font-size: 1.3rem;
                }
                p {
                    color: gray;
                    font-size: .8rem;
                    transition: .5s;
                }
            }
            img {
                border-top-left-radius: .5rem;
                border-bottom-left-radius: .5rem;
                width: 150px;
                height: 140px;
            }
        }
    }
}