.genre-stations {
    margin-bottom: 80px;
    input {
        padding: 15px;
        width: 300px;
        border-radius: 7px;
    }
    .search-icon {
        cursor: pointer;
        color: $clr4;
        font-size: 2.3rem;
    }
    .h1 {
        font-family: bungee, sans-serif;
        font-style: normal;
        font-weight: 500;
        // font-family: vibes, sans-serif;
        // font-style: normal;
        // font-weight: 800;
        // font-size: 10rem;
        font-size: 4rem;
        color: $clr4;
        margin-top: 30px;
    }
    h3 {
        font-family: fantasy;
        font-weight: 500;
        font-size: 2.3rem;
        color: #cfcfcf;
    }
    .all-stations {
        .show-all {
            padding-top: 15px;
            color: grey;
            cursor: pointer;
            transition: .3s;
            &:hover {
                color: white;
            }
        }
    }
    .station-preview {
        img {
            width: 285px;
        }
        filter:opacity(80%);
        transition: .5s;
        &:hover {
            filter: opacity(100%)
        }
    }
    // .station-cover {
    // }
    .preview-details {
        width: 100%;
        h2 {
            margin: 4px 0 5px 0;
        }
        .heart-icon {
            margin-right: 9.6px;
            transition: .5s;
            &:hover {
                color: #c70039;
            }
        }
        .play-icon {
            margin-right: 10px;
            font-size: 50px;
            transition: .5s;
            &:hover {
                color: white;
            }
        }
        // margin-bottom: 32px;
    }
    .background {
        margin: 35px auto 15px;
        padding: 15px 0 15px 0;
        // background-color: lighten($color: $clr1, $amount: 2);
        background: rgb(49, 51, 53);
        background: radial-gradient(circle, rgba(49, 51, 53, 0.7010154403558299) 0%, rgba(34, 36, 39, 1) 37%, rgba(28, 30, 33, 1) 100%);
    }
    .genre-header {
        border-bottom: 2px solid $clr1;
        box-shadow: 0 2px rgba(0, 0, 0, 0.64), inset 0 -1px #39383a;
        // border-bottom: 1px grey solid;
        padding: 15px;
    }
}