.station-app {
    .button-container {
        width: 100%;
        display: block;
        position: relative;
        margin-top: 70vh;
        text-align: center;
        height: auto;
    }
    .scroll-btn {
        position: absolute;
        bottom: 40%;
        left: 50%;
        transform: translateX(-50%);
        outline: none;
        box-shadow: none;
        border: none;
        &:hover {
            cursor: pointer;
        }
    }
    .h2 {
        font-family: $font1;
        font-weight: 500;
        font-size: 3rem;
        color: #cfcfcf;
        margin-top: 100vh;
        text-align: center;
        border-bottom: 1px solid lighten($color: $clr1, $amount: 2);
        box-shadow: 0 3px rgba(0, 0, 0, 0.64), inset 0 -1px #3e3d3f;
        padding: 10px;
        letter-spacing: 2px;
    }
    .h2-genres {
        padding: 10px;
        text-align: center;
        letter-spacing: 2px;
        border-bottom: 1px solid lighten($color: $clr1, $amount: 2);
        box-shadow: 0 3px rgba(0, 0, 0, 0.64), inset 0 -1px #3e3d3f;
        font-family: $font1;
        font-weight: 500;
        font-size: 3rem;
        color: #cfcfcf;
        margin-bottom: 20px;
    }
    .nav-color {
        color: $clr4;
    }
    .hero-img {
        .gradient {
            // z-index: 5;
            background: rgb(49, 51, 53);
            background: linear-gradient(180deg, #1c1e2100 0%, #1c1e21 85%, #1c1e21 100%);
            width: 100%;
            height: 100vh;
            top: 0;
            position: absolute;
        }
        img {
            filter: brightness(60%);
            width: 100%;
            height: 100vh;
            top: 0;
            z-index: -1;
            object-fit: cover;
            position: absolute;
            animation-name: multiple-image-crossfade;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 20s;
            &:nth-of-type(1) {
                animation-delay: 15s;
            }
            &:nth-of-type(2) {
                animation-delay: 10s;
            }
            &:nth-of-type(3) {
                animation-delay: 5s;
            }
            &:nth-of-type(4) {
                animation-delay: 0s;
            }
        }
        .marketing {
            position: absolute;
            left: 50%;
            top: 25%;
            max-width: max-content;
            // width: 100%;
            // transform: translateX(-50%);
        }
        h1,
        h3 {
            z-index: 3;
            margin: 0;
            color: rgb(255, 249, 249);
            text-shadow: 0 0 10px #fff;
            font-family: $font1;
            font-size: 4.8rem;
            font-weight: 800;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        h3 {
            font-size: 2rem;
        }
    }
    @keyframes multiple-image-crossfade {
        0% {
            opacity: 1;
        }
        17% {
            opacity: 1;
        }
        25% {
            opacity: 0;
        }
        92% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .station-link {
        background-color: $clr4;
        position: absolute;
        padding: 0.4rem;
        padding-top: 1rem;
        border-radius: 0.8rem;
        text-align: center;
        width: 250px;
        height: 50px;
        color: $clr7;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 60px;
        font-size: 1.1rem;
        transition: .3s;
        &:hover {
            background-color: $clr5;
        }
    }
    .station-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        filter: opacity(75%);
    }
    .create-filter {
        position: absolute;
        top: 10%;
        left: 15%;
        .router-link {
            margin-left: 2rem;
            color: $clr4;
        }
    }
    .channel-container {
        margin-bottom: 50px;
        display: grid;
        margin: 0 auto 50px;
        grid-template-columns: repeat(4, 260px);
        gap: 20px;
        .station-cover {
            width: 260px;
            transition: .5s;
            filter: opacity(75%);
            &:hover {
                filter: opacity(100%);
                p {
                    color: white
                }
            }
            text-decoration: none;
            background-color: #282b2f;
            margin: 5px;
            border-radius: .5rem;
            span {
                width: 100%;
                padding-left: .5rem;
                color: white;
                font-weight: 800;
                h3 {
                    margin-top: 35px;
                    margin-bottom: 10px;
                    font-size: 1.2rem;
                }
                p {
                    color: gray;
                    font-size: .8rem;
                    transition: .5s;
                }
            }
            img {
                margin-right: 12px;
                border-top-left-radius: .5rem;
                border-bottom-left-radius: .5rem;
                width: 120px;
                height: 140px;
                object-fit: cover;
            }
        }
    }
}

@media screen and (max-width: $narrow-breakpoint) {
    .station-app {
        .scroll-btn {
            font-size: 0.7rem;
            // left: 37%;
            // margin: 0 auto;
        }
        .h2 {
            font-size: 2.7rem;
        }
        .h2-genres {
            font-size: 2.7rem;
            margin-bottom: 10px;
        }
        .nav-color {
            color: $clr4;
        }
        .hero-img {
            h1,
            h3 {
                font-size: 3.3rem;
            }
            h3 {
                font-size: 1.3rem;
                top: 33%;
            }
        }
        .station-img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            filter: opacity(75%);
        }
        .create-filter {
            position: absolute;
            top: 10%;
            left: 15%;
            .router-link {
                margin-left: 2rem;
                color: $clr4;
            }
        }
        .channel-container {
            display: grid;
            grid-template-columns: repeat(3, 230px);
            grid-template-rows: repeat(5, 1fr);
            gap: 10px;
            .genre {
                width: 90%;
            }
            .station-cover {
                width: 220px;
                span {
                    padding: 0;
                    h3 {
                        font-size: 1rem;
                    }
                    p {
                        font-size: .7rem;
                    }
                }
                img {
                    margin-right: 12px;
                    border-top-left-radius: .5rem;
                    border-bottom-left-radius: .5rem;
                    width: 120px;
                    height: 140px;
                    object-fit: cover;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .station-app {
        .h2 {
            font-size: 2rem;
        }
        .h2-genres {
            font-size: 2rem;
        }
        .hero-img {
            h1,
            h3 {
                font-size: 2.5rem;
                width: max-content;
            }
            h3 {
                font-size: 1rem;
                top: 33%;
                width: max-content;
            }
        }
        .station-img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            filter: opacity(75%);
        }
        .channel-container {
            display: flex;
            flex-direction: column;
            li {
                width: 100%;
            }
            .genre {
                width: 90%;
            }
            .station-cover {
                width: 100%;
                span {
                    h3 {
                        font-size: 1.5rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                }
                img {
                    margin-right: 20px;
                    width: 150px;
                    height: 110px;
                }
            }
        }
    }
}