.station-details {
    height: 90vh;
    flex: 1;
    .container {
        margin: 0 auto;
        width: 60%;
        .top-section {
            margin: 20px 0 10px;
            .cover-img {
                width: 320px;
                height: 190px;
                border-radius: 10px;
                object-fit: cover;
            }
            .text-details {
                width: 100%;
            }
            .creator-info {
                display: flex;
                .creator-img {
                    object-fit: cover;
                    margin: 0 7px;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                }
            }
            h1 {
                text-align: left;
                font-weight: 700;
                font-size: rem(43px);
                font-family: $font1;
                margin: 0;
                .play-station-btn {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            span {
                margin: 3px 0;
            }
            .genre {
                padding: 4px;
                color: $clr1;
                background-color: #c1c1c1e3;
                border-radius: 5px;
                max-width: max-content;
                text-align: center;
            }
            .icon {
                margin: 0 5px 0 0;
            }
            .heart-icon {
                background-color: transparent;
                color: $clr7;
                border: none;
                padding: 0;
                transition: .3s;
                &:hover {
                    cursor: pointer;
                    color: $clr4;
                }
            }
            .liked {
                color: $clr4;
            }
            .tracks-likes {
                margin-right: 10px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }
    }
    // margin: 10px 5%;
}

@media screen and (max-width: $narrow-breakpoint) {
    .station-details {
        .container {
            .top-section {
                margin: 15px 0 10px;
                .cover-img {
                    width: 250px;
                    height: 150px;
                }
                .creator-info {
                    display: flex;
                    .creator-img {
                        width: 25px;
                        height: 25px;
                    }
                }
                h1 {
                    font-size: rem(35px);
                }
            }
            span {
                margin: 3px 0;
            }
            .genre {
                // max-width: 90px;
                max-width: max-content;
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .station-details {
        height: 85vh;
        flex: 1;
        flex-direction: column-reverse;
        .container {
            margin: 0 auto;
            width: 100%;
            .top-section {
                flex-direction: column-reverse;
                margin: 20px 0 10px;
                .cover-img {
                    margin: 0 auto;
                    width: 320px;
                    height: 190px;
                }
                .text-details {
                    width: 70%;
                    margin: 0 auto;
                    .title-creator {
                        flex-direction: row;
                        justify-content: space-between;
                        span {
                            font-size: rem(12px);
                            margin: 3px 5px;
                            .creator-info {
                                .creator-img {
                                    margin: 4px;
                                    border-radius: 50%;
                                    width: 15px;
                                    height: 15px;
                                }
                            }
                        }
                    }
                    .tracks-likes {
                        flex-direction: row-reverse;
                        justify-content: space-between;
                    }
                    h1 {
                        font-size: rem(30px);
                    }
                }
            }
        }
        // margin: 10px 5%;
    }
}