.station-app {
    .h2 {
        font-family: $font1;
        font-weight: 500;
        font-size: 3rem;
        color: #cfcfcf;
        margin-top: 840px;
        text-align: center;
        // border-bottom: 2px solid grey;
        border-bottom: 1px solid lighten($color: $clr1, $amount: 2);
        box-shadow: 0 3px rgba(0, 0, 0, 0.64), inset 0 -1px #3e3d3f;
        padding: 10px;
        letter-spacing: 2px;
    }
    .h2-genres {
        padding: 10px;
        text-align: center;
        letter-spacing: 2px;
        // border-bottom: 1px solid grey;
        border-bottom: 1px solid lighten($color: $clr1, $amount: 2);
        box-shadow: 0 3px rgba(0, 0, 0, 0.64), inset 0 -1px #3e3d3f;
        font-family: $font1;
        font-weight: 500;
        font-size: 3rem;
        color: #cfcfcf;
        margin-bottom: 20px;
    }
    .nav-color {
        color: $clr4;
    }
    .hero-img {
        .gradient {
            // z-index: 5;
            background: rgb(49, 51, 53);
            background: linear-gradient(180deg, rgba(49, 51, 53, 0) 0%, rgba(0, 0, 0, 0.22202384371717432) 37%, rgba(0, 0, 0, 0.558158297498687) 53%, rgba(0, 0, 0, 0.6477941518404237) 65%, rgba(27, 28, 30, 0.8690826672465861) 79%, rgba(28, 30, 33, 1) 100%);
            width: 100%;
            height: 70vh;
            top: 8%;
            position: absolute;
        }
        img {
            width: 100%;
            height: 70vh;
            // top: 8%;
            z-index: -1;
            object-fit: cover;
            position: absolute;
            animation-name: multiple-image-crossfade;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 20s;
            &:nth-of-type(1) {
                animation-delay: 15s;
            }
            &:nth-of-type(2) {
                animation-delay: 10s;
            }
            &:nth-of-type(3) {
                animation-delay: 5s;
            }
            &:nth-of-type(4) {
                animation-delay: 0s;
            }
        }
        h1,
        h3 {
            z-index: 3;
            color: rgb(255, 249, 249);
            text-shadow: 0 0 10px #fff;
            font-family: $font1;
            font-size: 4.5rem;
            font-weight: 800;
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        h3 {
            font-size: 2.8rem;
            top: 60%;
        }
        // box-shadow: 0px 7px 27px 1px rgba(82, 82, 82, 1);
    }
    @keyframes multiple-image-crossfade {
        0% {
            opacity: 1;
        }
        17% {
            opacity: 1;
        }
        25% {
            opacity: 0;
        }
        92% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    // h1 {
    //     color: $clr1;
    //     text-align: center;
    // }
    .station-link {
        background-color: $clr4;
        position: absolute;
        padding: 0.4rem;
        padding-top: 1rem;
        border-radius: 0.8rem;
        text-align: center;
        width: 250px;
        height: 50px;
        color: $clr7;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 60px;
        font-size: 1.1rem;
        transition: .3s;
        &:hover {
            background-color: $clr5;
            // color: $clr6;
        }
    }
    // .back {
    //     background-color: $clr4;
    //     height: 20rem;
    //     margin-bottom: 2rem;
    // }
    .station-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        // height: 20rem;
        filter: opacity(75%);
    }
    .create-filter {
        position: absolute;
        top: 10%;
        left: 15%;
        // margin: 2rem 0;
        .router-link {
            margin-left: 2rem;
            color: $clr4;
        }
    }
    // .homepage {
    //     hr {
    //         background-color: $clr4;
    //         height: 1px;
    //         border: none;
    //     }
    // }
    .channel-container {
        // margin-bottom: 80px;
        margin-bottom: 200px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        // grid-template-rows: 2;
        gap: 16px;
        .station-cover {
            transition: .5s;
            filter: opacity(75%);
            &:hover {
                filter: opacity(100%);
                p {
                    color: white
                }
            }
            text-decoration: none;
            background-color: #282b2f;
            // width: 270px;
            // height: 130px;
            // padding: 5px;
            margin: 5px;
            border-radius: .5rem;
            span {
                width: 100%;
                padding-left: .2rem;
                color: white;
                font-weight: 800;
                h3 {
                    margin-top: 35px;
                    margin-bottom: 10px;
                    font-size: 1.5rem;
                }
                p {
                    color: gray;
                    font-size: .8rem;
                    transition: .5s;
                }
            }
            img {
                margin-right: 20px;
                border-top-left-radius: .5rem;
                border-bottom-left-radius: .5rem;
                width: 120px;
                height: 140px;
                object-fit: cover;
                // height: 140px;
            }
        }
    }
}