@font-face {
    font-family: monst;
    src: url('~@/assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: rale;
    src: url('~@/assets/fonts/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: bungee;
    src: url('~@/assets/fonts/Bungee-Regular.ttf');
}

@font-face {
    font-family: vibes;
    src: url('~@/assets/fonts/GreatVibes-Regular.ttf');
}